html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}

a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
}

.map-wrap {
  width: 100%;
  height: calc(~"100vh - 64px");
  margin-top: 64px;
}